{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<!-- Load stripe payment javascript -->
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'js/stripe-checkout.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/stripe.css' %}">



<section class="container-lg er-checkout">
    <div class="row">
        <div class="col-12">
            <div class="er-wrap">
                <h1>Please confirm your order here</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 order-md-2">

            <div class="er-form-wrap">
                <form class="form-horizontal" method="post" id="er-change-shipping"
                    action="{% url 'checkout:check_out' %}">
                    {% crispy shipping_form %}
                </form>

                <form class="form-horizontal" id="er-complete">
                    {% csrf_token %}
                    <input type="hidden" id="order_number" value="{{order_number}}">
                    <input type="hidden" value="{{ client_secret }}" id="client_secret" name="client_secret">
                    <div id="div_id_full_name" class="form-group row">
                        <label for="id_full_name" class="col-form-label col-4 er-form-padding requiredField">
                            Full name<span class="asteriskField">*</span>
                        </label>
                        <div class="col-8 er-form-padding">
                            <input type="text" name="full_name" value="{{ user.first_name }} {{ user.last_name }}"
                                maxlength="60" class="textinput textInput form-control" required="" id="full_name">
                        </div>
                    </div>
                    <div id="div_id_address1" class="form-group row">
                        <label for="id_address1" class="col-form-label col-4 er-form-padding requiredField">
                            Address1<span class="asteriskField">*</span>
                        </label>
                        <div class="col-8 er-form-padding">
                            <input type="text" name="address1" value="{{ user_details.address1 }}" maxlength="50"
                                class="textinput textInput form-control" required="" id="address1">
                        </div>
                    </div>
                    <div id="div_id_address2" class="form-group row">
                        <label for="id_address2" class="col-form-label col-4 er-form-padding">
                            Address2
                        </label>
                        <div class="col-8 er-form-padding">
                            <input type="text" name="address2" value="{{ user_details.address2 }}" maxlength="50"
                                class="textinput textInput form-control" id="address2">
                        </div>
                    </div>
                    <div id="div_id_postcode" class="form-group row">
                        <label for="id_postcode" class="col-form-label col-4 er-form-padding requiredField">
                            Postcode<span class="asteriskField">*</span>
                        </label>
                        <div class="col-8 er-form-padding">
                            <input type="text" name="postcode" value="{{ user_details.postcode }}" maxlength="50"
                                class="textinput textInput form-control" required="" id="postcode">
                        </div>
                    </div>
                    <div id="div_id_city" class="form-group row">
                        <label for="id_city" class="col-form-label col-4 er-form-padding requiredField">
                            City<span class="asteriskField">*</span>
                        </label>
                        <div class="col-8 er-form-padding">
                            <input type="text" name="city" value="{{ user_details.city }}" maxlength="50"
                                class="textinput textInput form-control" required="" id="city">
                        </div>
                    </div>
                    <div id="div_id_country" class="form-group row">
                        <label for="id_country" class="col-form-label col-4 er-form-padding requiredField">
                            Country<span class="asteriskField">*</span>
                        </label>
                        <div class="col-8 er-form-padding">
                            <input type="text" name="country" value="{{ user_details.country }}" maxlength="50"
                                class="textinput textInput form-control" required="" id="country">
                        </div>
                    </div>
                    <div id="div_id_telephone" class="form-group row">
                        <label for="id_telephone" class="col-form-label col-4 er-form-padding">
                            Telephone
                        </label>
                        <div class="col-8 er-form-padding">
                            <input type="text" name="telephone" value="{{ user_details.telephone }}" maxlength="25"
                                class="textinput textInput form-control" id="telephone">
                        </div>
                    </div>
                    <div id="div_id_shipping" class="form-group row">
                        <label for="id_shipping" class="col-form-label col-4 er-form-padding requiredField">
                            Shipping<span class="asteriskField">*</span>
                        </label>
                        <div class="col-8 er-form-padding">
                            <select name="shipping" class="select form-control" required="" id="shipping">
                                <option value="">---------</option>
                                <option value="1" selected="">The Netherlands</option>
                            </select>
                        </div>
                    </div>

                    <div id="div_id_order_message" class="form-group row">
                        <label for="id_order_message" class="col-form-label col-4 er-form-padding">
                            Optional message</label>
                        <div class="col-8 er-form-padding">
                            <textarea name="order_message" cols="10" rows="3" maxlength="1000"
                                class="textarea form-control" id="order_message">
                            </textarea>
                            <span id="hint_id_order_message" class="text-muted">Leave any specifics regarding pick-up or
                                delivery</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8 er-form-padding">
                            <div id="div_id_save_details" class="custom-control custom-checkbox">
                                <input type="checkbox" name="save_details" value="update"
                                    class="checkboxinput custom-control-input" id="save_details">
                                <label for="save_details" class="custom-control-label">
                                    Save changes</label>
                                <span id="hint_id_save_details" class="text-muted"><br>Update your account
                                    details</span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="er-form-wrap">
                <div class="sr-root">
                    <div class="sr-main">
                        <div class="sr-picker">
                            <button class="sr-pm-button selected" id="card-button">
                                <i class="far fa-credit-card"></i>Credit Card
                            </button>
                            <button class="sr-pm-button" id="ideal-button">
                                <i class="fab fa-ideal"></i>Ideal
                            </button>
                        </div>
                        <form class="sr-payment-form card" id="pay-form">
                            <div class="sr-combo-inputs-row">
                                <div class="sr-input sr-element sr-card-element" id="card-element">
                                    <!-- A Stripe card Element will be inserted here. -->
                                </div>
                                <div class="sr-input sr-element hidden" id="ideal-bank-element">
                                    <!-- A Stripe iDEAL Element will be inserted here. -->
                                </div>
                            </div>
                            <div class="sr-field-error" id="card-errors" role="alert"></div>
                            <button class="btn btn-primary er-green" id="submit" type="submit">
                                <div class="spinner hidden" id="spinner"></div>
                                <span id="button-text">Pay</span><span id="order-amount"></span>
                            </button>
                        </form>
                        <div class="sr-result hidden">
                            <p>Payment completed<br /></p>
                            <pre>
                              <code></code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>


        </div>






        <div class="col-12 order-3 col-md-6 order-md-2">

            <!-- Show all items in the shopping cart -->
            {% for item in cart_items %}
            <div class="row er-list-wrap">
                <div class="col-6">
                    <a href="{% url 'shop:shop_details' pk=item.work.id %}" title="View this shop item">
                        <div class="er-image">
                            <img src="{{ MEDIA_URL }}{{ item.work.main_image }}" alt="{{ item.work.title }}">
                        </div>
                    </a>
                </div>
                <div class="col-6">
                    <a href="{% url 'shop:shop_details' pk=item.work.id %}" title="View this shop item">
                        <div class="er-list-wrap">
                            <h5>{{ item.work.title }}</h5>
                            <p>
                                {{ item.work.shop_settings.work_size }}
                            </p>
                            <p class="er-quantity">
                                Quantity: {{ item.quantity }}
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div>
                        <table>
                            <tr>
                                <td class="er-price-cell">
                                    {% if item.work.shop_settings.on_sale %} {# Show discounted price if on_sale #}
                                    <span>
                                        {{ item.work.shop_settings.discount_price }} <i class="fas fa-euro-sign"></i>
                                    </span> {% else %}
                                    <span>{{ item.work.shop_settings.price }} <i class="fas fa-euro-sign"></i></span>
                                    {% endif %}
                                </td>
                                <td class="er-cart-cell">
                                    <a
                                        href="{% url 'cart:add_cart' id=item.work.pk %}?next={{ request.path|urlencode }}">
                                        <div class="er-button er-shop-button">
                                            <i class="fas fa-plus"></i>
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </a>
                                </td>
                                <td class="er-cart-cell">
                                    <a
                                        href="{% url 'cart:remove_cart' id=item.work.pk %}?next={{ request.path|urlencode }}">
                                        <div class="er-button er-shop-button">
                                            <i class="fas fa-minus"></i>
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row er-list-divider">
                <div class="col-12">
                    <p>
                        <hr>
                    </p>
                </div>
            </div>
            <!-- Show total and shipping costs -->
            <div class="row">
                <div class="col-6 er-checkout-left">
                    <p>Ship to :</p>
                    <p>Shipping cost :</p>
                </div>
                <div class="col-6 er-checkout-right">
                    <p>{{ user_details.shipping.region }}</p>
                    <p>{{ user_details.shipping.price }} <i class="fas fa-euro-sign"></i></p>
                </div>
            </div>

            <div class="row">
                <div class="col-6 er-checkout-left">
                    <p>Total :</p>
                </div>
                <div class="col-6 er-checkout-right">
                    <p>{{ total|add:user_details.shipping.price }} <i class="fas fa-euro-sign"></i></p>
                </div>
            </div>


            {% endfor %}

        </div>
    </div>
</section>

<!-- Main menu highlite shop -->
<script>
    $('#er-shop-active').addClass('active');
    // Make filter submit on select
    $('#id_shipping_options').change(function () {
        $('#er-change-shipping').submit();
    });
</script>
<!-- Load special screen events (rotate arrow dropdown) -->
<script src="{% static 'js/dropdown-events.js' %}"></script>
{% endblock %}