{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% if not request.user.is_staff %}
{# Only show filter options to regular users #}
<!-- Filter selectors -->
<div class="container-md">
    <div class="row">
        <div class="er-nav-shop-filter collapse" id="er-collapse-filter">
            <a data-toggle="collapse" href="#er-shop-filters">
                <span class="d-none d-md-inline"> Filters
                </span>
                <i class="text-right d-none d-md-inline fas fa-angle-down"></i>
            </a>
            <div class="collapse" id="er-shop-filters">
                <form method="post" id="er-shop-filter" action="{% url 'shop:all_shop_works' %}">
                    {% crispy shop_filter_form shop_filter_form.helper %}
                </form>
            </div>
            <div class="er-filter-undo">
                <a href="{% url 'shop:all_shop_works' %}" title="Undo filter settings"><i class="fas fa-undo"></i></a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<!-- Show all shop_works -->
<section class="container-md er-shop">

    {% if info and message %}
    {# Show shop message banner only when navigating from the main menu #}
    <div class="row">
        <div class="col-12">
            <div class="er-shop-info">
                {{ message.info }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <!-- Show all shop items -->
    <div class="row">
        {% for work in works %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3" id="er-shop-{{ work.pk }}">
            <a href="{% url 'shop:shop_details' pk=work.id %}?next={{ request.path|urlencode }}"
                title="View this shop item">
                <div class="er-shop-wrap">
                    <!-- Slide out item details on hover -->
                    <script>
                        $('#er-shop-{{ work.pk }}').hover(
                            function () {
                                $('#er-plus-{{ work.pk }}').addClass('er-show-plus');

                            }, function () {
                                $('#er-plus-{{ work.pk }}').removeClass('er-show-plus');
                            })
                    </script>
                    {% if work.shop_settings.on_sale %}
                    {# Show discount banner when item on sale #}
                    <div class="er-discount">-{{ work.shop_settings.discount }}%</div>
                    {% endif %}
                    <!-- Main image -->
                    <div class="er-image-wrap">
                        {% if work.shop_settings.main_image %}
                        {# check if a custom main image was set #}
                        <div class="er-shop-image"
                            style="background-image: url({{ MEDIA_URL }}{{ work.shop_settings.main_image.work_image }});">
                        </div>
                        {% else %}
                        <div class="er-shop-image" style="background-image: url({{ MEDIA_URL }}{{ work.main_image }});">
                        </div>
                        {% endif %}
                        <div>
                            <h5 class="text-center er-small">{{ work.title }}</h5>
                        </div>
                        <div class="er-plus-wrap">
                            <div class="er-shop-plus" id="er-plus-{{ work.pk }}">
                                <ul class="text-left er-smaller">
                                    <li>
                                        {{ work.shop_settings.work_type }}
                                    </li>
                                    <li>
                                        {{ work.shop_settings.work_size }}
                                    </li>
                                    <li>
                                        {{ work.shop_settings.material }}
                                    </li>
                                </ul>
                                <table>
                                    <tr>
                                        <td class="er-price-cell">
                                            {% if work.shop_settings.on_sale %} {# Show discounted price if on_sale #}
                                            <span>
                                                {{ work.shop_settings.discount_price }} <i class="fas fa-euro-sign"></i>
                                            </span>
                                            <span>
                                                <del class="er-strike-price">
                                                    <i class="fas fa-euro-sign"></i>
                                                    {{ work.shop_settings.price }}
                                                </del>
                                            </span>

                                            {% else %}
                                            <span>{{ work.shop_settings.price }} <i class="fas fa-euro-sign"></i></span>
                                            {% endif %}
                                        </td>
                                        <td class="er-cart-cell">
                                            <a
                                                href="{% url 'cart:add_cart' id=work.pk %}?next={{ request.path|urlencode }}">
                                                <div class="er-button er-shop-button">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <i class="fas fa-plus"></i>
                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Load special screen events (highlite shop item in navbar-->
<script src="{% static 'js/shop-events.js' %}"></script>

{% endblock %}