{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<main class="container-md er-accounts">
    <div class="row">
        <div class="col-12">
            <div class="er-wrap">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
    <!-- user info forms -->
    <div class="row">
        <div class="col-lg-6">
            <div class="d-none d-lg-block er-wrap">
                <h3>Account information:</h3>
            </div>
            <!-- User details -->
            <div class="er-info-wrap">
                <div class="row">
                    <div class="col-6">
                        <p>
                            <span class="er-small">{{ active_user.first_name }} {{ active_user.last_name }}</span><br>
                            <span class="er-small">{{ user_details.address1 }}</span><br>
                            {% if user_details.address2 %}
                            <span class="er-small">{{ user_details.address2 }}</span><br>
                            {% endif %}
                            <span class="er-small">{{ user_details.postcode }}</span><br>
                            <span class="er-small">{{ user_details.city }}, {{ user_details.country }}</span><br>
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="text-right">
                            <span class="er-small text-right">{{ user_details.telephone }}</span><br>
                            <span class="er-small text-right">{{ active_user.email }}</span><br>
                            <span class="er-small text-right">Shipping region:<br>
                                {{ user_details.shipping.region }}</span><br>
                        </p>
                    </div>
                </div>
            </div>
            <!-- User details form -->
            <div class="er-form-wrap">
                <a data-toggle="collapse" href="#er-user-details">
                    <h2 class="er-drop-down"><i class="fas fa-angle-down"></i> Edit shipping address</h2>
                </a>
                <div class="collapse" id="er-user-details">
                    <form action="{% url 'accounts:add_user_details' %}" class="form-horizontal" method="post">
                        <input type="hidden" name="next" value="{% url 'accounts:user_profile' %}">
                        {% crispy details_form details_form.helper %}
                    </form>
                </div>
            </div>
            <!-- user account form -->
            <div class="er-form-wrap">
                <a data-toggle="collapse" href="#er-login-details">
                    <h2 class="er-drop-down"><i class="fas fa-angle-down"></i> Edit account details</h2>
                </a>
                <div class="collapse" id="er-login-details">
                    <form action="{% url 'accounts:update_user' %}" class="form-horizontal" method="post">
                        <input type="hidden" name="next" value="{% url 'accounts:user_profile' %}">
                        {% crispy user_form user_form.helper %}
                    </form>
                    <p class="text-right">
                        <a href="{% url 'reset_password' %}?next={{ next }}" title="Reset your password"> Click here
                            to
                            change your password <i class="fas fa-envelope"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Orders of active user -->
        <div class="col-lg-6">
            <div class="er-wrap">
                <h3 class="text-right">Order history:</h3>
            </div>
            {% if not orders %}
            <div class="er-wrap">
                <h2 class="text-center">No orders to show yet</h2>
            </div>
            {% endif %}

            <div class="er-wrap">
                {% for order in orders %}
                <a href="{% url 'accounts:view_order' order.order_number %}?next={% url 'accounts:user_profile' %}"
                    title="View this order">
                    <div class="er-order-title er-smaller">
                        <span class="er-smaller">Order date: {{ order.date }}</span>
                        <div class="er-title-icon">
                            {% if order.sent %}
                            <i class="fas fa-shipping-fast"></i>
                            {% endif %}
                            {% if order.paid %}
                            {% if order.pay_method == 'ideal' %}
                            <i class="fab fa-ideal"></i>
                            {% endif %}
                            {% if order.pay_method == 'card' %}
                            <i class="fas fa-credit-card"></i>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<!-- Load special screen events (highlite shop item in navbar-->
<script src="{% static 'js/shop-events.js' %}"></script>
<!-- Load special screen events (rotate arrow dropdown) -->
<script src="{% static 'js/dropdown-events.js' %}"></script>
{% endblock %}