{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Load columns settings for work overview bottom page -->
<link rel="stylesheet" href="{% static 'css/columns.css' %}">


<section class="container-lg er-detail">
    <div class="row">
        {% if work.position == 'HZ' %}
        {# Show when horizontal layout is selected #}
        <div class="col-12 col-md-10 offset-md-1 er-detail-main">
            <div>
                <img src="{{ MEDIA_URL }}{{ work.main_image }}" alt="{{ work.title }}">
            </div>
        </div>
        {% endif %}

        <div class="col-12 col-md-7 offset-md-1">
            {% if work.position == 'VT' %}
            {# Show when vertical layout is selected #}
            <div class="er-detail-left">
                <img src="{{ MEDIA_URL }}{{ work.main_image }}" alt="{{ work.title }}">
            </div>
            {% endif %}

            <!-- Show on small devices -->
            <div class="d-md-none er-detail-right">
                <h5>{{ work.title }}</h5>
                <p>{{ work.free_text|safe }}</p>
            </div>

            {% for image in images %}
            <div class="er-detail-left">
                <img src="{{ MEDIA_URL }}{{ image.work_image }}" alt="{{ work.title }}">
            </div>
            {% endfor %}
        </div>
        <div class="col-12 d-none d-md-block col-md-3 er-detail-right">
            <h5>{{ work.title }}</h5>
            <p>{{ work.free_text|safe }}</p>
        </div>
    </div>

    <!-- Show all works -->
    <div class="row">
        <div class="d-none d-md-block col-md-10 offset-md-1">
            <div class="card-columns">
                {% for work in works %}
                <div class="card border-0">
                    <a href="{% url 'works:work_details' pk=work.id %}" title="View this works details">
                        <img class="card-img-top" src="{{ MEDIA_URL }}{{ work.main_image }}" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h5>{{ work.title }}</h5>
                        <p class="card-text">{{ work.category }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>

<!-- Load special screen events for small navigation bar -->
<script src="{% static 'js/details-events.js' %}"></script>
<!-- Load work events - remove shop navigation - set menu item active -->
<script src="{% static 'js/work-events.js' %}"></script>

{% endblock %}